language: java
install: true

jdk:
  - oraclejdk8

branches:
  only:
    - master

addons:
  ssh_known_hosts: $SSH_HOST

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script:
  - ./gradlew test build
  - ./gradlew clear test build
after_success:
  - ./gradlew :shadowJar && scp build/libs/stawallet.jar "$SSH_USER@$SSH_HOST:~/stawallet/build/libs/stawallet.jar"
