version: "3.6"

services:

  api:
    container_name: stawallet_api
    image: stacrypt/bstawallet
    command: serve
    restart: always
    ports:
      - 80:8080
    depends_on:
      - db
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.198
    environment:
      DATABASE_URL: "postgresql://dev:devpass@db:5432/stawallet"
      DATABASE_SALT: secret-salt

  tbtc_wtcher:
    container_name: stawallet_tbtc_watcher
    image: stacrypt/bstawallet
    command: watch TBTC
    restart: always
    depends_on:
      - db
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.181
    environment:
      DATABASE_URL: "postgresql://dev:devpass@db:5432/stawallet"
      DATABASE_SALT: secret-salt

  cli:
    container_name: stawallet_cli
    image: stacrypt/bstawallet
    command: tail -f /dev/null
    restart: always
    depends_on:
      - db
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.191
    environment:
      DATABASE_URL: "postgresql://dev:devpass@db:5432/stawallet"
      DATABASE_SALT: secret-salt

  db:
    container_name: stawallet_postgres
    image: stacrypt/bstawallet_db
    restart:  always
    environment:
      POSTGRES_DB: stawallet
      POSTGRES_PASSWORD: devpass
      POSTGRES_USER: dev
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.199

  vault:
    container_name: vault_server
    image: vault:latest
    restart: always
    volumes:
      - "./data/vault:/vault"
    entrypoint: vault server # -config=/vault/config/vault.json
    cap_add:
      - IPC_LOCK
    ports:
      - "8200:8200"
    links:
      - "consul:consul"
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.200
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: test
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_LOCAL_CONFIG: '{"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "168h", "max_lease_ttl": "720h"}'

  consul:
    container_name: consul_server
    image: consul:latest
    restart: always
    volumes:
      - "./data/consul/config:/consul/config"
    command: agent -server -dev -ui -bind 0.0.0.0 -client 0.0.0.0 -bootstrap-expect=1
    ports:
      - "9501:8500"  # ui
      - "9601:8400"  # rpc/rest
      - "54:53/udp"   # dns
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.201
    environment:
      SERVICE_NAME: consul_server_service
      SERVICE_TAGS: consul

  registrator:
    container_name: registrator
    restart: always
    command: consul://172.16.238.201:8500
    image: gliderlabs/registrator:latest
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock"
    links:
      - consul
    networks:
      stawallet_net:
        ipv4_address: 172.16.238.202

networks:
  stawallet_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
